{% extends "base.twig" %}

{% block content %}
<h1>{{ 'Aggregators'|trans }}</h1>

{% if names is empty %}
    <p>{{ 'No aggregators'|trans }}</p>
{% else %}
    <ul>

    {% for name in names %}
        <li>
            <a href="{{ moduleURL('aggregator2/get', {'id': name }) }} ">{{ name }}</a>
            <a href="{{ moduleURL('aggregator2/get', {'id': name, 'mimetype': 'text/plain'}) }} ">{{ 'Text'|trans }}</a>
            <a href="{{ moduleURL('aggregator2/get', {'id': name, 'mimetype': 'application/xml'}) }} ">[XML]</a>
        </li>
    {% endfor%}

    </ul>
{% endif %}
{% endblock %}
